.button {
  border: none;
  background-color: transparent;
  width: fit-content;
  color: var(--color-text-primary);
  text-decoration: none;
  cursor: pointer;
}

.button {
  position: relative;
  font-size: 14pt;
  transition: 0.1s;

  height: 40px;
  padding: 0 20px;

  border: 1px solid var(--primary-blue);
  border-radius: 50px;
  background-color: var(--primary-blue);
  color: var(--neutral-7);

  display: grid;
  place-items: center;

  &:hover {
    background-color: var(--primary-blue-darker);
    box-shadow: var(--box-shadow);
  }

  &:active {
    transform: scale(1.02);
  }
}